@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&family=Darumadrop+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #ffffff;
    color: #0e0e0e;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}